<input type="hidden" name="" id="token" value="{{token}}">
<div class="container-fluid vh-100  d-flex justify-content-center align-items-center verify-invite-page">
    <div class="w-25">
        <h1 class="mb-4 text-center" style="white-space: nowrap;">Setup your password</h1>

        <input type="password" id="password" class="form-control swiggy-input mb-3" placeholder="Password...">
        <input type="password" id="cpassword" class="form-control swiggy-input mb-3" placeholder="Confirm Password...">

        <button class="btn rounded-pill p-3 py-2 w-100 swiggy-btn-dark" id="verify-invite-btn">Confirm</button>
    </div>
</div>


{{> scripts}}
<script>
    $(document).ready(function () {
        Handlers.verifyPage()
    })
</script>